.no-copy {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #111;
  color: #fff;
  font-size: 16px;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 70px;
  text-align: left;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.question {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 16px;
}

.question p {
  font-weight: bold;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
  flex-wrap: wrap;
}

.answer input[type="radio"] {
  margin-right: 10px;
}

.answer label {
  display: block;
  margin-bottom: 5px;
}

button[type="submit"] {
  background-color: #0ec094;
  width: 150px;
  height: 40px;
  top: 20px;
  right: 20px;
  background-color: #0ec094;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0b6d56;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-radius: 5px;
}

th, td {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

th {
  background-color: #0ec094;
}

.navbar {
  background-color: #0ec094;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar h1 {
  display: flex;
  align-items: center;
}

.navbar h1 .icon-text {
  margin-left: 10px;
}

.navbur {
  background-color: #0ec094;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

#refreshButton {
  font-family: "poppins";
  margin-top: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

@media (max-width: 768px) {
  body {
    margin-top: 2px;
    margin-bottom: 80px;
    font-size: 14px;
  }
  .container {
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: 14px;
  }
  .question {
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 14px;
  }
  button[type="submit"] {
    background-color: #0ec094;
    width: 150px;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: #0ec094;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
  }
  .answer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .answer input[type="radio"] {
    margin: 5px;
  }
  #refreshButton {
    font-family: "poppins";
    margin-top: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 10px;
    border-radius: 150px;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
  .navbur {
    text-align: center;
    position: bottom;
  }
  .navbar {
    background-color: #0ec094;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navbar h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  
  .navbar h1 .icon-text {
    margin-left: 10px;
  }
  .question p {
    font-weight: bold;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  .container {
    max-width: 90%;
  }

  .question {
    margin-bottom: 20px;
  }
  .question p {
    font-weight: bold;
  }

  .answer {
    flex-wrap: wrap;
  }

  .answer input[type="radio"] {
    margin: 5px;
  }

  button[type="submit"] {
    background-color: #0ec094;
    width: 150px;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: #0ec094;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin: 20px ;
  }

  table {
    table-layout: auto;
  }

  th, td {
    padding: 10px;
  }

  th {
    background-color: #0ec094;
  }
 
.navbur {
  text-align: center;
  position: bottom;
}
.navbar {
  background-color: #0ec094;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar h1 .icon-text {
  margin-left: 10px;
}

@media (max-width: 480px) {
  body {
    font-size: 10px;
  }
  .container {
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: 10px;
  }
  .question {
    font-size: 10px;
  }
  .question p {
    font-weight: bold;
  }
  button[type="submit"] {
    font-size: 10px;
      background-color: #0ec094;
      width: 100px;
      height: 40px;
      top: 20px;
      right: 20px;
      background-color: #0ec094;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-family: 'Poppins', sans-serif;
      cursor: pointer;
    
  }
  .answer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navbar {
    background-color: #0ec094;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navbar h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar h1 .icon-text {
    margin-left: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  th, td {
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: #0ec094;
  }
  .navbur {
    text-align: center;
    position: bottom;
  }
}
}